body {
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 600px) {
    p {
        font-size: .8em;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }
}

/* (scroll) UP */
#up {
    display: none;
    position: fixed;
    width: 30px;
    bottom: 50px;
    right: calc(5% + 10px);
    z-index: 99;
    animation-name: up-fade-in;
    animation-duration: 500ms;
}

#up:hover {
    cursor: pointer;
}

@keyframes up-fade-in {
    from {opacity: 0;}
    to {opacity: .8;}
}

/* NAVBAR */
#navbar {
    margin: 0  5%;
    border-bottom: 2px solid black;
}

#navbar #navbar-name {
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

#navbar .navbar-left-item {
    float: left;
    margin-top: 1em;
    margin-bottom: 1em;
}

#navbar .navbar-right-item {
    float: right;
    margin-top: 1em;
    margin-bottom: 1em;
}


#navbar a, .compact-navbar-item a {
    text-align: center;
    color: black;
    text-decoration: none;
}

.compact-navbar-item a {
    font-size: 1em
}

#navbar a {
    font-size: 1.125em;
    padding: 14px 16px;
}

#navbar a:visited, .compact-navbar-item a:visited {
    color: black;
    text-decoration: none;
}

#navbar a:hover, .compact-navbar-item a:hover {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

#navbar #navbar-menu-icon {
    display: none;
}

@media only screen and (max-width: 600px) {
    #navbar a:not(#navbar-name):not(#navbar-menu-icon) {
        display: none;
    }

    #navbar #navbar-menu-icon {
        display: block;
    }

    #navbar a:hover, .compact-navbar-item a:hover {
        text-decoration: none;
    }
}

#compact-navbar {
    overflow: hidden;
    margin: 0 5%;
    border-bottom: 2px solid lightgray;
    text-align: center;
    display: none;
    animation-name: compact-navbar-down;
    animation-duration: 1s;
    background: white;
}

@keyframes compact-navbar-down {
    from {max-height: 0;}
    to {max-height: 100px;}
}

@media only screen and (min-width: 600px) {
    #compact-navbar {
        display: none !important;
    }
}

/* SECTIONS */

#sections {
    position: absolute;
    top: 100px;
    z-index: -1;
}

.section {
    margin: 2% 10% 2% 10%;
    overflow: hidden;
}

.section-text {
    text-align: justify;
}

/* ME */

#aboutme #me-img {
    width: 50%;
    height: auto;
    float: left;
    margin-right: 5%;
}

@media only screen and (max-width: 800px) {
    #aboutme #me-img {
        width: 100%;
        height: auto;
        float: none;
        margin: 0;
    }
}

/* PROJECTS */

.project-item {
    display: none;
    animation-name: fade-in;
    animation-duration: 2s;
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

.project-active {
    display: block;
}

.project-description {
    margin-top: 20px;
    text-align: justify;
}

.project-image-container {
    position: relative;
    width: 100%;
}

.project-image-date {
    position: absolute;
    bottom: 4px;
    right: 16px;
    margin: 0;
}

.project-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    display: block;
}

@media only screen and (max-width: 800px) {
    .project-image-container {
        overflow: hidden;
    }

    .project-image-date {
        position: static;
        float: right;
    }
}

.projects-pick {
    width: 50px;
    height: auto;
}

@media only screen and (max-width: 600px) {
.projects-pick {
    width: 30px;
    height: auto;
}
}

/* CONTACT */
.contact-item {
    display: inline;
    margin: 0 5px;
}

.contact-item-image {
    border-radius: 5px;
}

.contact-text {
    font-size: 14px;
    text-decoration: inherit;
}

.contact-link {
    color: black;
    text-decoration: none;
}

.contact-link:visited {
    color: black;
    text-decoration: none;
}

.contact-link:hover {
    color: black;
    text-decoration: underline;
    cursor: pointer;
}

/* FOOTER */
.footer {
    overflow: hidden;
    margin: 5% 5% 5% 5%;
    border-top:  2px solid lightgray;
    padding-top: 20px;
    padding-right: 10px;
}

/* MISC */
.pull-right {
    float: left;
}

.pull-right {
    float: right;
}

.default-font {
    font-family: 'Montserrat', sans-serif;
}

/* CLEARING FLOATS */

#navbar:after, #compact-navbar:after {
    content: "";
    display: table;
    clear: both;
}
