body {
    font-family: Montserrat, sans-serif;
}

@media only screen and (max-width: 600px) {
    p {
        font-size: .8em;
    }

    h1 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1em;
    }
}

/* (scroll) UP */
#up {
    display: none;
    position: fixed;
    width: 30px;
    bottom: 50px;
    right: calc(5% + 10px);
    z-index: 98;
    animation-name: up-fade-in;
    animation-duration: 500ms;
}

#up:hover {
    cursor: pointer;
}

/* NAVBAR */
#navbar {
    margin: 0  5%;
    border-bottom: 2px solid black;
}

#navbar #navbar-name {
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

#navbar .navbar-left-item {
    float: left;
    margin-top: 1em;
    margin-bottom: 1em;
}

#navbar .navbar-right-item {
    float: right;
    margin-top: 1em;
    margin-bottom: 1em;
}


#navbar a, .compact-navbar-item a {
    text-align: center;
    color: black;
}

.compact-navbar-item a {
    font-size: 1em
}

#navbar a {
    font-size: 1.125em;
    padding: 14px 16px;
}

#navbar #navbar-menu-icon {
    display: none;
}

@media only screen and (max-width: 800px) {
    #navbar a:not(#navbar-name):not(#navbar-menu-icon) {
        display: none;
    }

    #navbar #navbar-menu-icon {
        display: block;
    }
}

#compact-navbar {
    overflow: hidden;
    margin: 0 5%;
    border-bottom: 2px solid lightgray;
    text-align: center;
    display: none;
    background: white;
}

@media only screen and (min-width: 800px) {
    #compact-navbar {
        display: none !important;
    }
}

/* SECTIONS */

#sections {
    position: absolute;
    top: 100px;
    z-index: -1;
}

.section {
    margin: 2% 10% 2% 10%;
    overflow: hidden;
}

.section-text {
    text-align: justify;
}

/* ME */

#aboutme #me-img {
    width: 50%;
    height: auto;
    float: left;
    margin-right: 5%;
}

@media only screen and (max-width: 800px) {
    #aboutme #me-img {
        width: 100%;
        height: auto;
        float: none;
        margin: 0;
    }
}

/* PROJECTS */

.project-item {
    display: none;
    animation-name: fade-in;
    animation-duration: 1s;
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

.project-active {
    display: block;
}

.project-description {
    margin-top: 20px;
    text-align: justify;
}

.project-image-container {
    position: relative;
    width: 100%;
}

.project-image-date {
    position: absolute;
    bottom: 4px;
    right: 16px;
    margin: 0;
}

.project-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    display: block;
}

@media only screen and (max-width: 800px) {
    .project-image-container {
        overflow: hidden;
    }

    .project-image-date {
        position: static;
        float: right;
    }
}

.projects-pick {
    width: 50px;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .projects-pick {
        width: 30px;
        height: auto;
    }
}

/* EXPERIENCE */
#experience-timeline {
    position: relative;
    margin: 1px 100px;
}

#experience-timeline ul {
    list-style: none;
}

.experience-name {
    margin: .5em;
}

.experience-description {
    margin: .5em;
    text-align: left;
}

.experience-description br {
    line-height: 150%;
}

#experience-timeline ul:before {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    border-left: 2px dashed black;
}

#experience-timeline ul li {
    margin-left: 30px;
    padding: 8px;
    border: 2px solid black;
    position: relative;
}

#experience-timeline ul li:not(:first-child) {
    margin-top: 40px;
}

#experience-timeline ul li span.experience-times {
    width: 2px;
    height: 100%;
    background: black;
    position: absolute;
    left: -32px;
    top: 0;
    position: absolute;
}


#experience-timeline ul li span.experience-times:before, #experience-timeline ul li span.experience-times:after {
    position:absolute;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: white;
    left: -5px;
}

#experience-timeline ul li span.experience-times:before {
    top: -2px;
}

#experience-timeline ul li span.experience-times:after {
    top: calc(100% - 10px);
}

.experience-times span {
    position: absolute;
    left: -110px;
    font-size: .8em;
    width: 100px;
    text-align: right;
}

.experience-times span:last-child {
    top: -10px;
}

.experience-times span:first-child {
    top: calc(100% - 15px);
}

@media only screen and (max-width: 800px) {
    #experience-timeline {
        margin: 1px 50px;
    }
}

@media only screen and (max-width: 600px) {
    #experience-timeline {
        margin: 1px 1px;
    }
    #experience-timeline ul li {
        margin-left: 15px;
        max-width: 80%;
    }

    #experience-timeline ul li span.experience-times {
        left: -17px;
    }

    .experience-times span {
        font-size: .5em;
    }
}


/* CONTACT */
.contact-item {
    display: inline;
    margin: 0 5px;
}

.contact-item-image {
    position: relative;
    border-radius: 5px;
}

.contact-item-image:hover {
    left: 2.5px;
    bottom: 2.5px;
    width: 30px;
    height: auto;
}

.contact-text {
    font-size: 14px;
    text-decoration: inherit;
}

.contact-link {
    color: black;
}

/* FOOTER */
.footer {
    overflow: hidden;
    margin: 5% 5% 5% 5%;
    border-top:  2px solid lightgray;
    padding-top: 20px;
    padding-right: 10px;
}

/* MISC */
.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.default-font {
    font-family: Montserrat, sans-serif;
}

.aurora-font {
    font-family: Questrial, sans-serif;
    font-weight: bold;
    color: #0078FF;
    letter-spacing: 2px;
}

.cmu-font {
    color: black;
    font-weight: bold;
}

.genamap-font {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,cursive;;
    color: #00B8E6;
    font-weight: bold;
}

.underline-link {
    text-decoration: none;
    cursor: pointer;
}

.underline-link:hover {
    text-decoration: underline;
}

#egg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: rgba(206,103,0,.5);
    padding: 20%px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
    color: white;
}

#fox {
    width: 80%;
    max-width: 500px;
    height: auto;
    border: 5px solid #CE6700;
}

@media only screen and (max-width: 800px) {
    .underline-link:hover {
        text-decoration: none;
    }
}

/* CLEARING FLOATS */

#navbar:after, #compact-navbar:after {
    content: "";
    display: table;
    clear: both;
}
