body {
    font-family: Montserrat, sans-serif;
}

@media only screen and (max-width: 600px) {
    p {
        font-size: .875em;
    }

    h1 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1em;
    }
}

/* (scroll) UP */

#up {
    display: none;
    position: fixed;
    width: 30px;
    bottom: 50px;
    right: calc(5% + 10px);
    z-index: 98;
}

#up:hover {
    cursor: pointer;
}

/* NAVBAR */

#navbar {
    position: relative;
    margin: 0 5%;
    border-bottom: 2px solid black;
}

#compact-navbar {
    border-width: 2px 1px;
    border-style: solid;
    border-color: white lightgray black;

    text-align: center;
    background: white;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 95%;
    z-index: 50;
    display: none;
}

#navbar #navbar-name {
    font-weight: bold;
    border-style: solid;
    border-width: 2px;
    border-color: black;
}

#navbar > a, #compact-navbar > a {
    text-align: center;
    color: black;
}

#compact-navbar > a {
    padding: 20px 0;
    display: block;
    font-size: 1em
}

#navbar > a {
    font-size: 1.125em;
    padding: 14px 16px;
    margin-top: 1em;
    margin-bottom: 1em;
}

#navbar #navbar-menu-icon {
    display: none;
}

@media only screen and (max-width: 800px) {
    #navbar > a:not(#navbar-name):not(#navbar-menu-icon) {
        display: none;
    }

    #navbar #navbar-menu-icon {
        display: block;
    }
}

@media only screen and (min-width: 800px) {
    #compact-navbar {
        display: none !important;
    }
}

/* SECTIONS */

.section {
    margin: 2% 10% 2% 10%;
    overflow: hidden;
    position: relative;
}

.section-text {
    text-align: justify;
}

/* ME */

#aboutme #me-img {
    width: 50%;
    height: auto;
    float: left;
    margin-right: 5%;
}

@media only screen and (max-width: 800px) {
    #aboutme #me-img {
        width: 100%;
        height: auto;
        float: none;
        margin: 0;
    }
}

/* PROJECTS */

#projects {
    overflow: visible;
}

#projects-body .project-item {
    display: none;
}

#projects-body .project-active {
    display: block;
}

#projects-body .project-description {
    margin-top: 20px;
}

#projects-body .project-image {
    width: 100%;
    max-width: 500px;
    height: auto;
    margin: 0 auto;
    display: block;
}

#projects .projects-pick {
    width: 50px;
    height: auto;
}

@media only screen and (max-width: 600px) {
    #projects .projects-pick {
        width: 30px;
        height: auto;
    }
}

/* EXPERIENCE */

#experience {
    overflow: visible;
}

#experience-timeline {
    position: relative;
    margin: 0 100px;
}

#experience-timeline > ul {
    list-style: none;
    width: 80%;
}

/* the long dotted line */
#experience-timeline > ul:before {
    content: '';
    width: 2px;
    height: 100%;
    position: absolute;
    border-left: 2px dashed black;
}

#experience-timeline .experience-name {
    margin: .5em;
}

#experience-timeline .experience-description {
    margin: .5em;
    text-align: left;
}

#experience-timeline > ul > li {
    margin-left: 30px;
    padding: 8px;
    border: 2px solid black;
    position: relative;
    overflow: visible;
}

#experience-timeline > ul > li {
    margin-top: 40px;
}

#experience-timeline > ul li span.experience-times {
    width: 2px;
    height: 100%;
    background: black;
    position: absolute;
    left: -32px;
    top: 0;
}

/* the timeline circles */
#experience-timeline ul li span.experience-times:before, #experience-timeline ul li span.experience-times:after {
    position:absolute;
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: white;
    left: -5px;
}

#experience-timeline ul li span.experience-times:before {
    top: -2px;
}

#experience-timeline ul li span.experience-times:after {
    top: calc(100% - 10px);
}

/* the experience-times and the solid lines connecting them */
#experience-timeline span.experience-times span {
    position: absolute;
    left: -110px;
    font-size: .8em;
    width: 100px;
    text-align: right;
}

#experience-timeline span.experience-times span:last-child {
    top: -10px;
}

#experience-timeline span.experience-times span:first-child {
    top: calc(100% - 15px);
}

@media only screen and (max-width: 800px) {
    #experience-timeline {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 600px) {

    #experience-timeline > ul > li {
        margin-left: 15px;
    }

    #experience-timeline ul li span.experience-times {
        left: -17px;
    }

    #experience-timeline span.experience-times span {
        font-size: .7em;
    }
}


/* CONTACT */

#contact .contact-item {
    margin: 0 5px;
    font-size: .875em;
    color: black;
}

#contact .contact-item-image {
    position: relative;
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    #contact .contact-item {
        font-size: .75em;
    }
}

/* FOOTER */

.footer {
    position: relative;
    overflow: hidden;
    margin: 5% 5% 5% 5%;
    border-top:  2px solid lightgray;
    padding-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
}

/* FONTS */

.underline-link {
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

@media only screen and (min-width: 800px) {
    .underline-link:hover {
        text-decoration: underline;
    }
}

.aurora-font {
    font-family: Questrial, sans-serif;
    font-weight: bold;
    color: #0078FF;
    letter-spacing: 3px;
}

.cmu-font {
    color: black;
    font-weight: bold;
}

.genamap-font {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,cursive;;
    color: #00B8E6;
    font-weight: bold;
}

.no-underline-link {
    text-decoration: none;
    cursor: pointer;
}

.no-underline-link:hover {
    text-decoration: none;
}

/* FLOATING */

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* FOX HUNT */

#fox-start {
    position: absolute;
    z-index: 99;
}

#fox-start-speak {
    position: absolute;
    left: 45px;
    display: none;
    font-size: .8em;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: bold;
    z-index: 99;
}

#fox-start-speak:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-right-color: black;
    border-left: 0;
    margin-top: -5px;
    margin-left: -6px;
    z-index: 99;
}

#fox-next {
    display: none;
    position: absolute;
    top: 200px;
    right: -30px;
    z-index: 99;
}

#fox-next-speak {
    display: none;
    position: absolute;
    font-size: .8em;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: bold;
    position: absolute;
    right: 0;
    top: 200px;
    z-index: 99;
}

#fox-next-speak:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left-color: black;
    border-right: 0;
    margin-top: -5px;
    margin-right: -6px;
    z-index: 99;
}

#fox-next-next {
    display: none;
    position: absolute;
    bottom: 0px;
    left: 20%;
    z-index: 99;
}

#fox-next-next-speak {
    display: none;
    font-size: .8em;
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: bold;
    position: absolute;
    left: 20%;
    bottom: 30px;
    z-index: 99;
}

#fox-next-next-speak:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: black;
    border-bottom: 0;
    margin-bottom: -6px;
    margin-left: 6px;
    z-index: 99;
}

@media only screen and (max-width: 600px) {
    #fox-start {
        display: none !important;
    }

    #fox-next {
        display: none !important;
    }

    #fox-next-next {
        display: none !important;
    }
}

#fox-hard-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(206,103,0,.5);
    padding: 20%px;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
    color: white;
    z-index: 99;
}

#fox-hard {
    width: 80%;
    max-width: 500px;
    height: auto;
    border: 5px solid #CE6700;
    z-index: 99;
}

/* FADE */

@keyframes fade {
    from {opacity: 1;}
    to {opacity: .3;}
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

.hover-fade {
    text-decoration: none;
}

@media only screen and (min-width: 800px) {
    .hover-fade:hover {
        animation-name: fade;
        animation-duration: 500ms;
        opacity: .3;
    }
}
